@charset "UTF-8";
* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; box-sizing: border-box;}

header, #itacare, #fotos, #maisinfo div, form, footer {display: flex;}

header {justify-content: space-between; align-items: center; padding-right: 10px;}
header img {width: 200px; padding: 10px;} 
header menu a {padding: 10px; text-decoration: none;} 
header menu a:hover {text-decoration: underline;}

#itacare {background-image: url(img/praia.jpg); height: 100vh; background-size: cover;
          color: white; text-align: center; justify-content: center; align-items: center;}
#p1 {font-size: 3em; font-weight: bold; padding-bottom: 20px;} 
#p2 {font-size: 2em; padding-bottom: 20px;}
#itacare button {padding: 15px; width: 150px; text-transform: uppercase; font-size: 1em;
                background-color: rgba(211, 211, 211, 0.767); font-weight: bold;
                border-radius: 10px; cursor: pointer;}
/*
- centralizando div(#p1,#p2) em #itacare com o 'position'-
#itacare {height: 100vh; background-image: url(img/praia.jpg); background-size: cover;
            color: white; text-align: center; position: relative;}
#itacare div {position: absolute; top: 50%; left: 50%; width: 100vw;
                transform: translate(-50%,-50%);}
#p1 {font-size: 3em; font-weight: bold; padding-bottom: 20px;} 
#p2 {font-size: 2em; padding-bottom: 20px;}
#itacare button {padding: 15px; width: 150px; text-transform: uppercase; font-size: 1em;
                background-color: rgba(211, 211, 211, 0.589); border-radius: 10px; cursor: pointer;}
*/
#hotel {text-align: center; padding-top: 20px;} 
h1 {display: none;} h2 {font-weight: bolder; padding: 40px;} 
#hotel p {margin: auto; max-width: 800px; font-weight: lighter; padding-bottom: 40px; 
            line-height: 1.5em;} 
hr {width: 200px; height: 2px; border: none; margin: auto; background-color: gray;}
#fotos {flex-wrap: wrap; width: 100%; padding-top: 20px; padding-bottom: 40px;}  
#fotos div {height: 340px; padding: 10px; background-clip: content-box;
            background-size: cover; background-position: center;} 
.menor {flex-basis: 40%;} .maior {flex-basis: 60%;}
.foto1 {background-image: url('img/itacare-01.jpg');}
.foto2 {background-image: url('img/itacare-02.jpg');}
.foto3 {background-image: url('img/itacare-03.jpg');}
.foto4 {background-image: url('img/itacare-04.jpg');}

#maisinfo {background-color: black; color: white; text-align: center; padding-top: 40px;}
#maisinfo p {width: 60%; margin: auto; line-height: 1.5em; padding-bottom: 40px;}
#maisinfo div {justify-content: space-around; color: lightgreen;}
#maisinfo h3 {padding-top: 20px; padding-bottom: 20px;}
#maisinfo span {font-size: 50px;}
#maisinfo div p {text-align: justify;}

#newsletter {background-color: rgba(211, 211, 211, 0.548); text-align: center;}
#newsletter p {width: 60%; margin: auto; padding-bottom: 40px;}
form {height: 100px; justify-content: center; align-items: center;}
form input {width: 300px; padding: 6px;} 
form button {background-color: rgb(83, 83, 83); color: white; padding: 8px; 
             border: none; width: 100px; border-radius: 5px; margin-left: 10px;
             text-transform: uppercase; font-size: .8em; cursor: pointer;}

footer {background-color: black; color: white; height: 200px; text-align: center; 
        flex-direction: column; padding-bottom: 40px;}

footer a {color: lightgreen; text-decoration: none;}
footer a:hover {text-decoration: underline;}
        
#icones {display: flex; justify-content: space-evenly; align-items: center;
            width: 40%; margin: auto; padding-top: 20px;}
#icones a {font-size: 40px; padding: 10px;}

#paragrafos {line-height: 1.5em;} 
footer div {display: flex; justify-content: center;}
#paragrafo3, #paragrafo4 {display: none;}

@media (max-width: 700px) {
    #paragrafo2 {display: none;}
    #paragrafo3 {display: block; text-align: center;}
    #paragrafo3 div {display: flex;}
}

@media (max-width: 600px) 
{
    header {flex-direction: column; padding-bottom: 10px;}

    #itacare div {width: 70vw;}
    #p1 {font-size: 2em; padding-bottom: 20px;} 
    #p2 {font-size: 1em; padding-bottom: 20px;}
    #itacare button {padding: 15px; width: 120px; font-size: .7em;}

    #hotel p {margin: auto; max-width: 400px;}
    #fotos div {flex-basis: 100%;}
    /* .menor, .maior {flex-basis: 100%;}  */       
    
    #maisinfo p {width: 80%;}
    #maisinfo div {flex-direction: column;}
    #maisinfo section {width: 95vw;}
    #maisinfo section p {width: 60%;}

    form input {width: 200px;}

    footer {font-size: .8em;} 
    footer #icones a {font-size: 30px;} 
}
@media (max-width: 440px) {
    #hotel {padding: 0 20px;}
    #paragrafo1 {display: block; text-align: center;}
    #paragrafo1 .espaço {display: none;}
}
@media (max-width: 320px) {
    header menu a {display: block; text-align: center;}
    form {flex-direction: column; justify-content: space-evenly;}
    #paragrafo3 {display: none;}    
    #paragrafo4 {display: block;} 
}
